body {
    background-color: blueviolet;
    display: flexbox;
    flex-direction: column;
    margin: 0;
    
}


.quote {
    background-color: #69b314;
    padding: 18px;
    color: #fff;
}

.icon {
    margin-right: 8px;
    background-color: #69b314;
    border-radius: px;
}

.logo {
    width: 20%;
}

.float-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}


button {
    background: none;
    border: 3px solid #ffffff;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}


main {
    background-color: green;
    height: 400px;
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.choices { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

p {
    text-align: center;
}

.options {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1d1d1d;
    color: #727171;
}

header {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;

}

.padding {
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.color1 {
    background-color: red;
}

.color2 {
    background-color: brown;
}

.color3 {
    background-color: pink;
}

.color4 {
    background-color: greenyellow;
}

.color5 {
    background-color: seagreen;
}

.garden-image {
    margin-top: 100px;

}


